<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Parcial 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-card *ngFor = "let dato of datos">
    <ion-item lines="inset" routerLink="/details/{{dato.id}}">
      <ion-label>
        {{dato.Nombre}}
      </ion-label>
    </ion-item>

</ion-card>
</ion-content>
