<ion-header>
  <ion-toolbar>
    <ion-title>DETALLES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list line="full">
          <h1> {{dato.Nombre}}</h1>

      <ion-item *ngIf = "dato">
        <img src= {{dato.Foto}}>
      </ion-item>

            <h2 style = "color: warning "> Apellido : </h2>
            <h3> {{dato.Apellido}} </h3>
            <h2 style = "color: warning "> Edad : </h2>
            <h3> {{dato.Edad}} </h3>
            <h2 style = "color: warning "> Peso : </h2>
            <h3> {{dato.Peso}} </h3>


      </ion-list>
</ion-content>
